.input,
.button {
    font-size: 18px;
    border-radius: 7px;
    color: #4a4e69;
}

.input {
    padding: 10px 15px;
    outline: none;
    border: none;
    margin-right: 2%;
}

.button {
    background-color: #b6feff;
    outline: none;
    cursor: pointer;
    padding: 7px 12px;
}

.button:disabled {
    cursor: not-allowed;
}